:root {
    --color-primary: #6366f1;    /* Indigo */
    --color-secondary: #8b5cf6;  /* Purple */
    --color-dark: #1e293b;       /* Slate dark */
    --color-light: #f8fafc;      /* Slate light */
    --color-text: #334155;       /* Slate text */
    --font-main: 'Segoe UI', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}
header {
    background-color: white;
    color: var(--color-light);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
.logo {
    font-size: 1.5em;
    font-weight: bold;
    background: linear-gradient(to right, rgb(139, 139, 187), rgb(101, 228, 209));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.nav-links  {
    display: flex;
    gap: 20px;
}
.nav-links a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 500;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: var(--color-primary);
    transition: 0.3s ease;
}
